:host {
  display: block;
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:host * {
  font-size: 15px;
  font-family: "FiraSans", sans-serif;
}

:host label {
  display: block;
  margin-bottom: 4px;
}

:host input[type=text]{
  padding: 8px 5px;
  color: #333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
